html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Trebuchet MS", sans-serif;
}

.container {
  max-width:1300px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#personal-profile {
  width: 100%;
  background: #2e3d49;
  padding: 10px 10px;
}

header {
  color: #697681;
  background: #008ae6;
  min-width: 200pt;
  align-self: center;
  vertical-align: middle;
}

img {
  float :none;
  vertical-align: baseline;
  max-width: 100%;
  position: static;
  border-radius: 8%;
}

.profile-name {
  color: white;
  text-align: center;
  font-size: 20pt;
  vertical-align: text-top;
}

.linkedin-profile{
  color: white;
  font-size: 12pt;
}

.github-profile{
  color: white;
  font-size: 14pt;
}

.img-and-summary {
  display: block;
  text-align: left;
}

.profile-summary {
  color: white;
  display: block;
  font-size: 14pt;
}

.profile-pic {
  border-radius: 50%;
  min-width: 120px;
}

.fun-facts {
  color: white;
  display: block;
  text-decoration: underline;
  font-size: 14pt;
}

.featured-works-title {
  width: 100%;
  color: white;
  text-align: left;
  font-size: 14pt;
  text-decoration: underline;
}

.fact-list {
  list-style-type: circle;
  text-align: left;
  color: white;
  font-size: 14pt;
}

.project-title {
  color: white;
  font-size: 14pt;
  text-align: center;
}

.column {
    float: left;
    max-width: 33.33%;
    align-self: center;
}

.box {
  width: 400px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.project-descriptor {
    color: white;
    font-weight: normal;
    width: 85%;
    font-style: italic;
    font-size: 14pt;
    word-wrap: break-word;
    text-align: center;
    display: block;
}

.project-pic {
    width: 150px;
    min-width: 150px;
    height: 100px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width:1300px;
  min-width:200px;
  margin-left: auto;
  margin-right: auto;
}
